{% extends 'admin.html' %}
{% load static %}

{% block content %}
<div class = 'homiy_detail'>
    <div class = 'homiy_detail_items'>
        <a href = '{% url 'admin_talabalar' %}'><img src = '{% static 'image/back.png' %}' width = '20' height = '20' ></a>
        <span class = 'homiy_detail_fish'> {{talaba.fish}} </span>
        
    </div>
</div>


<div class = 'homiy_detail_info' style = 'margin-top: 10px; height:500px;margin-bottom: 50px;'>
    <div class = 'homiy_detail_subinfo'>
        <span>Talaba haqida</span>
        <button type="button"  data-mdb-toggle="modal" data-mdb-target="#exampleModal"> <img src = '{% static 'image/edit.png' %}' width = '20' height = '20' >Tashrirlash</button>
    </div>

    <div class ='talaba_single_info'>
        <p>ASOSIY MALUMOTLAR</p>
    </div>
    
    <div style = 'margin: 30px 0 0 30px;'>
        <span class = 'homiy_detail_img'><img src = '{% static 'image/user2.png' %}' width = '30' height = '30' ></span>
        <span class = 'homiy_detail_img_fish'> {{talaba.fish}} </span>
    </div>
    
    <div style = 'margin: 30px 0 0 30px; display:flex;'>
        <div class= 'homiy_detail_phone'>
            <span>TELEFON RAQAMI</span>
            <p>{{talaba.phono}}</p>
        </div>
    </div>
    <div class ='talaba_single_info' style = 'width:250px;'>
        <p>O'QISH JOYI HAQIDAGI MA'LUMOT</p>
    </div>
  
    <div style = 'margin: 30px 0 0 30px; display:flex;'>
        <div class= 'homiy_detail_phone'>
            <span>OTM</span>
            <p>{{talaba.otm}}</p>
        </div>
        <div class= 'homiy_detail_phone'>
            <span>TALABALIK TURI</span>
            <p>{{talaba.turi}}</p>
        </div>
    </div>
    <div style = 'margin: 30px 0 0 30px; display:flex;'>
        <div class= 'homiy_detail_phone'>
            <span>AJRATILGAN SUMMA</span>
            <p>{{talaba.aj_summa}}</p>
        </div>
        <div class= 'homiy_detail_phone'>
            <span>KONTRAKT MIQDORI</span>
            <p>{{talaba.contract}} UZS</p>
        </div>
    </div>
  

</div>

<div class = 'talaba_homiy_add'>
    <div>
        <span>Talabaga homiylar</span>
        <button type="button"  data-mdb-toggle="modal" data-mdb-target="#exampleModal1"><img src = '{% static 'image/plus.png' %}' width = '15' height = '15' > Homiy qo'shish</button>
    </div>
    {% if bor %}
    <div class = 'admin_section_table' style = 'width:785px;'> 
        <table  id="example" class="table table-striped"  >
            <thead class = 'admin_section_table_head' style = 'background:white'>
              <tr>
                <th class = 'admin_section_table_th'> # </th>
                <th class = 'admin_section_table_th'>F.I.SH</th>
                <th class = 'admin_section_table_th'>AJRATILGAN SUMMA</th>
                <th class = 'admin_section_table_th'>AMALLAR</th>
              </tr>
            </thead>
            <tbody>
                {% for item in tolovlar %}
                <tr class = 'admin_section_table_tr'>
                    <td  >{{ item.id}}</td>
                    <td >{{ item.homiy_id}}</td>
                    <td >{{ item.homiy_summa}}</td> 
                    <td ><a type="button"  data-val = ""  data-mdb-toggle="modal" data-mdb-target="#exampleModal2"><img src = "{% static 'image/edit.png' %}" width = '20' height = '20'></a></td>
                </tr>
                {% endfor %}
                
          </tbody>
          
        </table>
    </div>

    {% endif %}
    
</div>

        

        

  


<div class="modal fade" id="exampleModal" tabindex="-1" style = 'margin-top: 20px; height: 600px; ' aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style  = 'height:30px;' >
                <h5 class="modal-title" id="exampleModalLabel"><label for = 'otm' class = 'ariza_holati_label' style = ' margin-top: 10px;font-size: 28px;'>Tahrirlash</label></h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method = 'POST' action = '?/'>
                {% csrf_token %} 
                <div class="modal-body" >
                        
                    <label for = 'otm' class = 'ariza_holati_label' style = ' margin-top: 10px;font-size: 14px;'> F.I.SH. (FAMILIYA ISM SHARIFINGIZ)</label>
                    <input type = 'text' id = 'fish' name = 'ism' value = "{{ talaba.fish }}" class = 'homiy_edit_input' style = ' outline:none;'>
                    
                    <label for = 'phone' class = 'ariza_holati_label' style = ' margin-top: 10px;font-size: 14px;'> TELEFON RAQAM</label >
                    <input type = 'tel' id = 'phone' name = 'phone' value = "{{talaba.phono}}"  class = 'homiy_edit_input' style = ' outline:none;'>

                    <label for = 'otm' class = 'ariza_holati_label' style = 'font-size: 14px; margin-top: 10px' > OTM</label>
                    <select id="otm" class = 'ariza_holati_select' name = 'otm' style = 'font-size: 14px;' >
                        <option value = '{{talaba.otm}}'>{{talaba.otm}}</option>
                        {% for item in otm %}
                        <option value="{{item}}">{{item}}</option>
                        {% endfor %}
                    </select>
                    <div class= 'homiy_detail_phone'>
                        <label for = 'summa' class = 'ariza_holati_label' style = 'font-size: 14px; margin-top: 10px'> KONTRAKT MIQDORI</label>
                        <input type = 'text' id = 'summa' name = 'summa' value = '{{ talaba.contract }}'  class = 'homiy_edit_input' style = ' outline:none;'>
             
                    </div>

                            
                           
                        
                </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" onclick="output()"> <img src = "{% static 'image/save.png' %}" width = '18' height = '18' >  Saqlash</button>                    
                    </div>
            </from>
                

           
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" style = 'margin-top: 20px; height: 600px; ' aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style  = 'height:30px;' >
                <h5 class="modal-title" id="exampleModalLabel"><label for = 'otm' class = 'ariza_holati_label' style = ' margin-top: 10px;font-size: 28px;'> Homiy qo'shish</label></h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method = 'POST' action = '?/'>
                {% csrf_token %} 
                <div class="modal-body" >

                    <label for = 'homiyism' class = 'ariza_holati_label' style = ' margin-top: 10px;font-size: 14px;'> F.I.SH. (FAMILIYA ISM SHARIFINGIZ)</label>
                    <select id="homiyism" class = 'ariza_holati_select' name = 'homiyism' style = 'font-size: 14px;' >
                        <option >Homiyni tanlang</option>
                        {% for item in homiylar %}
                        <option value="{{item}}">{{item}}</option>
                        {% endfor %}
                    </select>
                    <div class= 'homiy_detail_phone'>
                        <label for = 'homiysumma' class = 'ariza_holati_label' style = 'font-size: 14px; margin-top: 10px'> AJRATILADIGAN SUMMA</label>
                        <input type = 'text' id = 'homiysumma' name = 'homiysumma'   class = 'homiy_edit_input' style = ' outline:none;'>
             
                    </div>

                            
                           
                        
                </div>
                    <div class="modal-footer">
                        <div class = 'talabalar_qoshish_add' >
                            <button type = 'submit' style = 'width:150px;height:35px;padding: 0 10px; margin-right: 20px;'> <img src = '{% static 'image/add.png' %}' width = '20' height = '20' > Qo'shish</button>
                        </div>                 
                    </div>
            </from>
                

           
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" style = 'margin-top: 20px; height: 600px; ' aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style  = 'height:30px;' >
                <h5 class="modal-title" id="exampleModalLabel"><label for = 'otm' class = 'ariza_holati_label' style = ' margin-top: 10px;font-size: 28px;'>Homiylarni tahrirlash</label></h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method = 'POST' action = '?/'>
                {% csrf_token %} 
                <div class="modal-body" >
                        
                    <label for = 'otm' class = 'ariza_holati_label' style = ' margin-top: 10px;font-size: 14px;'> F.I.SH. (FAMILIYA ISM SHARIFINGIZ)</label>
                    <input type = 'text' id = 'fish' name = 'ism' value = "{{ talaba.fish }}" class = 'homiy_edit_input' style = ' outline:none;'>
                    
                    
                    <div class= 'homiy_detail_phone'>
                        <label for = 'summa' class = 'ariza_holati_label' style = 'font-size: 14px; margin-top: 10px'> AJRATILINGAN SUMMA</label>
                        <input type = 'text' id = 'summa' name = 'summa' value = '{{ talaba.contract }}'  class = 'homiy_edit_input' style = ' outline:none;'>
                    </div>

                            
                           
                        
                </div>
                    <div class="modal-footer">
                        <div class ='modal-footer_delete'>
                            <img src = "{% static 'image/delete.png' %}" width = '18' height = '18' >
                            <input type="submit" value = "Homiyni o'chirish" name = 'delete'  style = 'background:#FFECEB;color:red;shadow:none;'> 
                        </div>
                        <div class ='modal-footer_saqlash'>
                            <img src = "{% static 'image/save.png' %}" width = '16' height = '16' >
                            <input type="submit" value = " Saqlash"  name = 'saqlash'  style = 'background:#3366FF;color:white;' >
                        </div>              
                    </div>
            </from>
                

           
        </div>
    </div>
</div>

<script>
    function output() {
    let  btnClear = document.querySelector('button');
    let inputs = document.querySelectorAll('input');
    
    btnClear.addEventListener('click'), () => {
        inputs.forEach(input => input.value = '')
    }
}
</script>
{% endblock content %}